body {
    font-family: 'Open Sans', sans-serif;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items:center;
    background-image:url(../city_weather_search/assets/images/gradientBlue.jpg);
    background-size:cover;
    color:rgb(233, 235, 252);
}

h1, h2 {
    margin:10px;
}

/* ~~~~~~~~~~~~~~~~~~ SEARCH ~~~~~~~~~~~~~~~~~~ */

#searchContainer {
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
}

#search {
    font-family: 'Open Sans', sans-serif;
    margin-top:10px;
    font-size:1.2em;
    width:385px;
    height:40px;
    padding:10px;
}

#search:focus {
    /* Chrome creates a border on most focus items. Add this CSS to remove. */
    outline:none;
}

/* ~~~~~~~~~~~~~~~~~~ RESULTS ~~~~~~~~~~~~~~~~~~ */


#results {
    width:100%;
    display:flex;
    flex-direction:column;
    align-items: center;
}

.container {
    margin:10px;
    
    display:flex;
    flex-direction:column;
    align-items:center;
    width:250px;
}

.container p {
    margin:0;
}

.today {
    font-size:1.1em;
}

.allOther {
    border-top:rgb(233, 235, 252) 1px solid;
    width:60%;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}

.allOther div{
    padding:10px;
    
}

.otherDay {
    font-size:0.9em;
    justify-content: center;
}

.innerDiv {
    display:flex;
}

.innerDiv div{
    margin:10px;
}