body {
    font-family: 'Open Sans', sans-serif;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items:center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image:url(assets/images/gradientBlue.jpg);
    color:rgb(233, 235, 252);
}

#rainyBody {
    background-image:url(assets/images/rain.jpg);
    color:rgb(0, 0, 0); 
}

#clearBody {
    background-image:url(assets/images/few_clouds.jpg);
    color:rgb(233, 235, 252);
}

#cloudyBody {
    background-image:url(assets/images/overcast.jpg);
    color:rgb(0, 0, 0);
}

#stormyBody {
    background-image:url(assets/images/storm.jpg);
    /*Note -  .containerStorm - add class to container */
}

#snowyBody {
    background-image:url(assets/images/snowy.jpg);
    color:rgb(0, 0, 0);
}

#mistyBody {
    background-image:url(assets/images/mist.jpg);
    color:rgb(0, 0, 0);
}


#artistLink {
    position:absolute;
    bottom:10px;
    right:10px;
    font-size:0.7em;
    
}

#artistLink a{
    text-decoration: none;
    color:rgb(0, 0, 0);
}

#artistLinkHide {
    display:none;
}

h1, h3 {
    margin:10px;
}

/* ~~~~~~~~~~~~~~~~~~ SEARCH ~~~~~~~~~~~~~~~~~~ */

#searchContainer {
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
}

#search {
    font-family: 'Open Sans', sans-serif;
    margin-top:10px;
    font-size:1.2em;
    width:385px;
    height:40px;
    padding:10px;
}

#search:focus {
    /* Chrome creates a border on most focus items. Add this CSS to remove. */
    outline:none;
}

/* ~~~~~~~~~~~~~~~~~~ AUTOCOMPLETE ~~~~~~~~~~~~~~~~~~ */

#autoResults {
    position:absolute;
    margin-right:120px;
    background-color: white;
    color: black;
    width:385px;
    top:140px;  
}

#autoResults div {
    height:15px;
    padding-top:5px;
    padding-bottom:5px;
}

#autoResults div:hover {
    background-color:lightskyblue;
    cursor:pointer;
}

.resultSelected {
    background-color:lightskyblue;
    cursor:pointer;
}

.result {
    padding:10px;
    padding-top:15px;
    padding-bottom:15px;
}

.display {
    display:flex;
    flex-direction:column;
}

.displayNone {
    display:none;
}

/* ~~~~~~~~~~~~~~~~~~ RESULTS ~~~~~~~~~~~~~~~~~~ */

#searchSubmit {
    padding:0;
    margin:0;
    display:flex;
}

#submitBtn {
    color:rgb(233, 235, 252);
    background-image:url(assets/images/gradientBlue.jpg);
    margin-top:13px;
    margin-left:20px;
    height:40px;
    width: 100px;
    font-size:1.2em;
    font-family: 'Open Sans', sans-serif;
    align-self:center;
}

#results {
    width:100%;
    display:flex;
    flex-direction:column;
    align-items: center;
}

.container {
    display:flex;
    flex-direction:column;
    align-items:center;
    width:250px;
}

.containerStorm {
    background-color: rgb(16, 41, 58);
    opacity:0.85;
    margin:2px;
    color:white;
}

.container p {
    margin:0;
}

.today {
    font-size:1.1em;
}

.allOther {
    border-top: 1px solid;
    width:60%;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}


.allOther div{
    padding:10px;
    
}

.otherDay {
    font-size:0.9em;
    justify-content: center;
}

.innerDiv {
    display:flex;
}

.innerDiv div{
    margin:10px;
}

.innerDiv p{
    font-size:0.8em;
}

/* ~~~~~~~~~~~~~~~~~~ PORTRAIT PHONE ~~~~~~~~~~~~~~~~~~ */
@media screen and (max-width: 768px){

    body {
        background-size:auto;
    }
    #search {
        font-family: 'Open Sans', sans-serif;
        font-size:0.8em;
        width:100px;
        height:20px;
        padding:10px;
        
    }
    
    #autoResults {
        position:absolute;
        margin-right:120px;
        background-color: white;
        color: black;
        width:100px;
        top:100px;  
    }
    
    #autoResults div {
        height:15px;
        padding-top:5px;
        padding-bottom:5px;
    }

    #artistLink {
        font-size:0.7em;
        display:none;
    } 

    #results {
        width:40%;
        display:flex;
        flex-wrap:wrap;
    }

    
    .allOther {
    border-top: 1px solid;
    display:flex;
    }

    .otherDay {
        justify-content: center;
    }

    .container {
        display:flex;
        flex-direction:column;
        align-items:center;
        width:100%;
    }
}

/* ~~~~~~~~~~~~~~~~~~ PORTRAIT TABLET ~~~~~~~~~~~~~~~~~~ */

@media screen and (max-width: 768px) and (max-height:1366px) and (min-width){

    body {
        background-size:auto;
    }

    #search {
        font-family: 'Open Sans', sans-serif;
        margin-top:10px;
        font-size:1.2em;
        width:100px;
        height:20px;
        padding:10px;
        
    }
    
    #autoResults {
        position:absolute;
        margin-right:120px;
        background-color: white;
        color: black;
        width:100px;
        top:100px;  
    }
    
    #autoResults div {
        height:15px;
        padding-top:5px;
        padding-bottom:5px;
    }


    #results {
        width:40%;
        display:flex;
        flex-wrap:wrap;
    }

    
    .allOther {
    border-top: 1px solid;
    display:flex;
    }

    .otherDay {
        justify-content: center;
    }

    .container {
        display:flex;
        flex-direction:column;
        align-items:center;
        width:100%;
    }
}