body {
    font-family: 'Open Sans', sans-serif;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items:center;
    background-image:url(../city_weather_search/assets/images/gradientBlue.jpg);
    background-size:cover;
    color:rgb(233, 235, 252);
}

/* ~~~~~~~~~~~~~~~~~~ SEARCH ~~~~~~~~~~~~~~~~~~ */

#searchContainer {
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
}

#search {
    font-family: 'Open Sans', sans-serif;
    margin-top:10px;
    font-size:1.2em;
    width:385px;
    height:40px;
    padding:10px;
}

#search:focus {
    /* Chrome creates a border on most focus items. Add this CSS to remove. */
    outline:none;
}

